.w-full.bg-white.py-24.sm:py-32
  .mx-auto.max-w-7xl.px-6.lg:px-8
    .mx-auto.max-w-2xl.text-center
      %h2.text-3xl.font-bold.tracking-tight.text-gray-900.sm:text-4xl Bookings
      %p.mt-2.text-lg.leading-8.text-gray-600 Edit booking

  .mx-auto.max-w-3xl.px-6.lg:px-8
    = render 'form'
