.bg-white.px-6.py-24.sm:py-32.lg:px-8.w-full
  .mx-auto.max-w-2xl.text-center
    %p.text-base.font-semibold.leading-7.text-indigo-600 Reservation
    %p.mt-6.text-lg.leading-8.text-gray-600
      Start date:
      = @reservation.start_date
      \-
      End date:
      = @reservation.end_date

    .sm:col-span-2.sm:flex.sm:justify-center.space-x-4.mt-16
      = link_to "Back", listing_path(@listing), class: "my-2 bg-blue-300 hover:bg-blue-700 text-white font-bold text-sm py-2 px-4 rounded"
      = link_to "Edit", edit_listing_reservation_path(@listing, @reservation), class: "my-2 bg-blue-300 hover:bg-blue-700 text-white font-bold text-sm py-2 px-4 rounded"
